<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="ALSA aliases">
    <setting visible="eq(4,)" label="Discover devices" type="lsep" />
    <setting label="No devices here. Run discover first!" type="text" visible="eq(3,)" enable="false" />
    <setting label="Start discovery" type="action" action="RunScript($ID,discover)" default="" />

    <setting label="ALSA Sink 1" type="lsep" visible="!eq(1,)" />
    <setting label="Sink" type="text" id="alsa_id_0" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="alsa_name_0" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="alsa_alias_0" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="alsa_hide_0" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="ALSA Sink 2" type="lsep" visible="!eq(1,)" />
    <setting label="Sink" type="text" id="alsa_id_1" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="alsa_name_1" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="alsa_alias_1" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="alsa_hide_1" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="ALSA Sink 3" type="lsep" visible="!eq(1,)" />
    <setting label="Sink" type="text" id="alsa_id_2" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="alsa_name_2" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="alsa_alias_2" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="alsa_hide_2" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="ALSA Sink 4" type="lsep" visible="!eq(1,)" />
    <setting label="Sink" type="text" id="alsa_id_3" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="alsa_name_3" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="alsa_alias_3" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="alsa_hide_3" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />


    <setting label="ALSA Sink 5" type="lsep" visible="!eq(1,)" />
    <setting label="Sink" type="text" id="alsa_id_4" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="alsa_name_4" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="alsa_alias_4" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="alsa_hide_3" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />
  </category>
  <category label="A2DP aliases">
    <setting visible="eq(4,)" label="Discover devices" type="lsep" />
    <setting label="No devices here. Run discover first!" type="text" visible="eq(3,)" enable="false" />
    <setting label="Start discovery" type="action" action="RunScript($ID,discover)" default="" />

    <setting label="Bluetooth Audio 1" type="lsep" visible="!eq(1,)" />
    <setting label="MAC" type="text" id="a2dp_id_0" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="a2dp_name_0" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="a2dp_alias_0" enable="!eq(-2,)" visible="!eq(-2,)" default="" />  
    <setting label="Hide sink" type="bool" id="a2dp_hide_0" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="Bluetooth Audio 2" type="lsep" visible="!eq(1,)" />
    <setting label="MAC" type="text" id="a2dp_id_1" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="a2dp_name_1" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="a2dp_alias_1" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="a2dp_hide_1" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="Bluetooth Audio 3" type="lsep" visible="!eq(1,)" />
    <setting label="MAC" type="text" id="a2dp_id_2" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="a2dp_name_2" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="a2dp_alias_2" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="a2dp_hide_2" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="Bluetooth Audio 4" type="lsep" visible="!eq(1,)" />
    <setting label="MAC" type="text" id="a2dp_id_3" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="a2dp_name_3" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="a2dp_alias_3" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="a2dp_hide_3" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />

    <setting label="Bluetooth Audio 5" type="lsep" visible="!eq(1,)" />
    <setting label="MAC" type="text" id="a2dp_id_4" enable="false" visible="!eq(0,)" default="" />
    <setting label="Name" type="text" id="a2dp_name_4" enable="false" visible="!eq(-1,)" default="" />
    <setting label="Alias" type="text" id="a2dp_alias_4" enable="!eq(-2,)" visible="!eq(-2,)" default="" />
    <setting label="Hide sink" type="bool" id="a2dp_hide_4" enable="!eq(-3,)" visible="!eq(-3,)" default="false" />
  </category>
</settings>
